body{
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
}
.headerh1{
	font-size: 50px;
}
.topnav{
	overflow: hidden;
	background-color: #333;
}

.topnav a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.summery{
	padding: 0 10px
}
.photo{
	width: 30%
	padding 1.11rem;
	border-radius:5px;
	margin:0 20px 1.5rem auto;
	float:left;
}
.photo img{
	width:100%;
}
.photo .caption{
	font-size:14px;
	font-style: italic;
}